/* src/styles/AboutMe.css */
.about-me-section {
  display: flex;
  flex-direction: column;  /* Added css syle*/
  justify-content: center;
  align-items: center; /* Align items to the top */
  padding-top: 3rem;
  text-align: left;

}

.about-me-content {
  max-width: 90%;
  text-align: left;
}

.about-me-section div {
  margin-right: 20px;
}

.about-me-section h2 {
    font-size: 2rem;
    margin-top: -50px;
}

.about-me-section h3 {
  font-size: 4rem;

}

.about-me-section img {
  max-width: 20%; /* Adjust the size of the image */
  border-radius: 20%;
  margin-top: 20px;  /* Add space between image and text */
}

.about-me-section p {
  font-size: 1.5rem;
  margin: 0;
}

.text-color {
  color: rgb(69, 69, 243);
}

/*****************************************************************
* Media Queries - For responsive layout for the main webpage
******************************************************************/

@media (max-width: 700px) {
  .about-me-section {
    flex-direction: row;
    text-align:left;
  }

  .about-me-content {
    max-width: 50%;
    margin-right: 20px;
  }

  .about-me-section h2 {
    font-size: 2rem;
  }

  .about-me-section h3 {
    font-size: 3.0rem;
  }

  .about-me-section img {
    max-width: 30%; /* Adjust the size of the image */
 
    margin-top: 20px;  /* Add space between image and text */
  }

  .about-me-section p {
    font-size: 1rem;
  }
  
}

@media (min-width: 701px) {
  .about-me-section {
    flex-direction: row;
    text-align:left;
  }

  .about-me-content {
    max-width: 50%;
    margin-right: 20px;
  }

  .about-me-section h2 {
    font-size: 2rem;
  }

  .about-me-section h3 {
    font-size: 3.0rem;
  }

  .about-me-section img {
    max-width: 30%; /* Adjust the size of the image */
    margin-top: 20px;  /* Add space between image and text */
  }

  .about-me-section p {
    font-size: 1.1rem;
  }
  
}
 
/* Responsive Layout for Larger screen devices such as Desktop, Laptop, large Monitors */
@media (min-width:1025px) {
  .about-me-section {
    padding: 32px;
  }

  .about-me-content {
    max-width:40%;
  }

  .about-me-section h2 {
    font-size: 2.5rem;
  }

  .about-me-section h3 {
    font-size: 4.5rem;
  }

  .about-me-section img {
    max-width: 25%; /* Adjust the size of the image */
    margin-top: 20px;  /* Add space between image and text */
  }

  .about-me-section p {
    font-size: 1.2rem;
  }

}