html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}


#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;          /* grows to fill the available space */
}

main {
  flex-grow: 1;
  padding: 1rem;
}

.header-background {
  background-image: url('../assets/blue-hero-banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 1.3rem;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  z-index: 1;
} 

.header-title {
  font-size: 3rem;
  font-weight: bold;
  font-family: "Anton SC", serif;
  font-style: normal;
  margin: 0;
}

.nav-container {
  display: flex;
  gap: 1rem;
}

.nav-link {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
  transition: transform 0.3s ease, color 0.3s ease;
  margin: 0 1rem;
}

.nav-link:hover {
  transform: scale(1.2);
  color: #007acc;
}

footer {
  color:#fff;
  text-align: center;
  padding: 1.5rem 2.5rem;
  width: 100%;
  position: relative;

}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

footer li {
  display: inline;
}

footer a {
  color:#fff;
  text-decoration: none;
  margin: 0 1.5rem;
  font-size: 2rem;
  transition: transform 0.3s ease, color 0.3s ease;
}

footer a i {
  font-size: 24px;
  margin-right: 0.5rem;;
  transition: transform 0.3s ease, color 0.3s ease;
}

footer a:hover, footer a:hover i {
  transform: scale(1.2);
  color: #007acc;
}

/*******************************************************************
* Media Queries for responsive layout for Header and Footer
*******************************************************************/

@media (min-width: 601px) {
  .header-content {
    flex-direction: row;
    justify-content: space-between;
  }
  
  .nav-container {
    flex-direction: row;
  }

  footer ul {
    flex-direction: row;
  }

  footer a {
    margin: 0 1.5rem;
  }

}
