.contact-section {
    text-align: left;
    margin-left: 0;
    padding: 1.5rem;
    width: 100%;
}

.contact-section h2 {
    font-size: 2rem;
    font-weight: bold;
    
    
}

.form-label { 
    display: block; 
    margin-bottom: 5px; 
    font-weight: bold; 
    color: white;
}

.form-input { 
    width: 35%; 
    padding: 0.2rem; 
    margin-bottom: 10px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    color: black;
} 

.form-textarea { 
    width: 35%; 
    padding: 1rem; 
    margin-bottom: 10px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    color: black;
    resize: vertical; 
} 

.form-error { 
    color: red; 
    font-size: 20px; 
} 

.form-button { 
    display: block;
    background-color: #074d92; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
} 
.form-button:hover { 
    background-color: #007acc;
    
}