@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  margin:0;
  background-color: #000080;
  background-image: radial-gradient(circle, #0c4885, #0f0f92, #050541, #03032b);
  color: #fff;
}
